ipython<8
ipython-genutils==0.2.0

backports.shutil-get-terminal-size==1.0.0
decorator<4.5
enum34<1.2
pathlib2<2.4
pexpect<4.9
pickleshare<0.8
pigpio<=1.78
prompt-toolkit<3.1
ptyprocess<0.7
Pygments<2.8
scandir<1.11
simplegeneric==0.8.1
six==1.15.0
traitlets<5.1
wcwidth<0.3
twisted
configparser
pigpio-dht<0.4
pytz